@if (mediaResource.value(); as media) {

<h2 class="font-bold text-4xl text-center text-secondary my-5">{{media?.title}}</h2>

<!-- FRASE solo movie -->
@if (media?.tagline) {
<p class="text-center text-white font-semibold">{{media?.tagline | uppercase}}</p>
}

<sinopsis-puntuacion-generos-component [media]="mediaResource.value()" />

<!-- SOLO TV -->
<solo-series-component [media]="mediaResource.value()" [mediaParams]="mediaParams()?.tipo" />
<!-- FIN SOLO TV-->


<!-- COMPAÑIAS -->
<h2 class="text-secondary text-center my-5">COMPAÑIAS</h2>
<div class=" flex my-10">
  @for (item of media?.production_companies; track $index) {

  <!-- item compañias-->
  <div class="card bg-base-100 shadow-sm w-full mx-2 py-5">
    <figure class="shadow-2xl  mask-x-from-95% mask-x-to-99% mask-y-from-90% mask-y-to-99%">
      <img class="w-auto h-20"
        [src]="item.company_logo ? 'https://image.tmdb.org/t/p/w500'+ item.company_logo: 'assets/img/no_photo.jpg'"
        [alt]="item.company_name" />
    </figure>
    <div class="card-body">
      <h2 class="text-l font-bold text-center">{{item.company_name| uppercase}} </h2>

    </div>
  </div>
  <!-- fin item compañias-->

  }
</div>

<!-- ACTORES -->
<details class="collapse collapse-plus   border-base-300 border ">
  <summary class="collapse-title font-semibold text-center text-secondary">ACTORES </summary>
  @for (item of media?.cast; track $index) {

  <ul class="list  rounded-box shadow-md">

    <li class="list-row">
      <div>
        <img class="size-25 rounded-box"
          [src]="item.cast_pic ? 'https://image.tmdb.org/t/p/w500'+ item.cast_pic: 'assets/img/no_photo.jpg'"
          [alt]="item.cast_name" />
      </div>
      <div>
        <div class="text-white font-bold">{{item.cast_name}}</div>
        <div class="text-xs uppercase opacity-60 text-white font-semibold">{{item.cast_character}}</div>
      </div>
    </li>
  </ul>

  }
</details>

<!-- VÍDEO -->
 <!--
<h2 class="text-secondary text-center my-5">VÍDEOS</h2>
@for (item of media?.videos; track $index) {
<p class="text-white">{{item.video_title}}</p>
}
-->

<!-- POSTERS -->
@if (media?.images?.length) {
<h2 class="text-secondary text-center my-5">PÓSTERS</h2>
<div class="flex my-10">

  @for (item of media?.images; track $index) {
  <div class="card shadow-sm w-full mx-2 py-0.5">
    <figure>

      <a [href]="item.images_file_path
    ? 'https://image.tmdb.org/t/p/original' + item.images_file_path
    : 'assets/img/no_photo.jpg'" target="_blank" rel="noopener noreferrer">

        <img class="w-auto h-50 cursor-pointer hover:scale-105 transition-transform" [src]="item.images_file_path
      ? 'https://image.tmdb.org/t/p/w500' + item.images_file_path
      : 'assets/img/no_photo.jpg'" [alt]="media?.title" />

      </a>

    </figure>
  </div>
  }

</div>
}

<!-- RECOMENDACIONES SIMILARES -->
<h2 class="text-secondary text-center my-5">RECOMENDACIONES SIMILARES</h2>

<div class="carousel w-full  grid grid-cols-1">

  <div class="carousel-item relative w-8/12 mx-auto">
    @for (item of media?.recommendations; track $index) {

    <!-- item recomendaciones-->
    <div class="card bg-base-100 shadow-sm w-full cursor-pointer mx-2 my-5 hover:scale-105 transition-transform" [id]="item.recommendation_id"
      [routerLink]="['/info', item.recommendation_type,item.recommendation_id]">
      <figure class="shadow-2xl  mask-x-from-95% mask-x-to-99% mask-y-from-90% mask-y-to-99%">
        <img
          [src]="item.recommendation_backdrop_path ? 'https://image.tmdb.org/t/p/w500'+ item.recommendation_backdrop_path: 'assets/img/no_photo.jpg'"
          [alt]="item.recommendation_title" />
      </figure>
      <div class="card-body">
        <h2 class="text-l font-bold text-center">{{item.recommendation_title| uppercase}} </h2>

      </div>
    </div>
    <!-- fin item recomendaciones-->

    }

  </div>
</div>
}
