/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: bumblebee --default, dracula --prefersdark;
}

body {
  /*background-color: rgba(0, 0, 0);*/
  /* background-image: linear-gradient(to bottom right, rgb(0, 23, 70), rgb(85, 85, 85));*/
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(85, 85, 85));
}

#logo_freiteca {
  filter: drop-shadow(0 4px 7px rgb(46, 46, 46));
}


#img-hero-principal {
  mask-image:
    radial-gradient(circle, #000, transparent);
}

#tituloNavbar {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*
#tituloNavbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: repeating-linear-gradient(
        to bottom right,
    #ffffff,
    #aaaaaa,
    #555555);
      background-size: 200% 100%;

  background-image: url(https://img.freepik.com/vector-gratis/vector-recursos-diseno-marco-geometrico-gris_53876-165849.jpg?semt=ais_hybrid&w=740&q=80);

  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animateInY 20s linear infinite;
}
*/

.circulo {
  width: 30px;
  height: 30px;
  background:
    linear-gradient(90deg,
      #f0f0f0 0%,
      #dddddd 25%,
      #acabab 50%,
      #dddddd 80%,
      #f0f0f0 100%);
  position: relative;
  clip-path: circle(40% at 50% 50%);

  background-size: cover;
  animation: animateInX 40s linear infinite;


}

@keyframes animateInX {
  to {
    background-position-X: -500px;
  }

}

@keyframes animateInY {
  to {
    background-position-y: -500px;
  }

}

/* octágono*/
/*clip-path: polygon(30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%);
      */

/*cueva*/
/*  clip-path: polygon(5% 10%,
      15% 25%,
      20% 8%,
      45% 5%,
      55% 10%,
      70% 5%,
      85% 12%,
      95% 30%,
      90% 50%,
      95% 70%,
      85% 90%,
      70% 95%,
      50% 92%,
      30% 95%,
      15% 90%,
      5% 70%,
      8% 50%,
      5% 30%
      );*/
